<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ULoginControllerServlet</servlet-name>
        <servlet-class>dbconnection.ULoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatingServlet</servlet-name>
        <servlet-class>signup.ValidatingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginValidateServlet</servlet-name>
        <servlet-class>login.LoginValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginDataServlet</servlet-name>
        <servlet-class>login.UserLoginDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVaidateServlet2</servlet-name>
        <servlet-class>login.LoginVaidateServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ULoginControllerServlet</servlet-name>
        <url-pattern>/ULoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatingServlet</servlet-name>
        <url-pattern>/ValidatingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginValidateServlet</servlet-name>
        <url-pattern>/LoginValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginDataServlet</servlet-name>
        <url-pattern>/UserLoginDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVaidateServlet2</servlet-name>
        <url-pattern>/LoginVaidateServlet2</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            signupform.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
